body {
    background-color: rgb(41, 39, 39);
    color: white;
}
.gorgetheto{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 900px;
 }
 .rétegek{
     display: inline-block;
     overflow: hidden; /* Az esetleges túlcsordulás elrejtése */
 }
 .réteg{
     display: block;
     width: 100%;
     transition: transform 0.3s ease; /* Animáció beállítása */
 
 }
 .réteg:hover {
     transform: scale(1.1); /* Kép nagyítása 10%-kal */}
 
 
 .keretesi{
     padding: 10px; /* Térköz a szöveg és a keret között */
     transition: border ease; /* Animáció beállítása */
 }
 .keretesi:hover {
     border: 9px  black double ;  /* Fekete keret a szöveg körül */
 }
 .footer{
     background-color: black;
     padding: 70px 0;
     margin-top: 60px;
     height: 338px;
   
 
 }
 .page-link{
     background-color: black;
 }
 .nyil{
     font-size: 30px;
     color:rgb(255, 255, 255);
     display: flex;
     justify-content: center;
   align-items: center;
   margin-bottom: 20px;
   
 
 }
 .page-item:active{
     background-color: beige;
 }

